.head {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: black;
    padding: 15px;
}

.mytext {
    font-family: "Times New Roman", Times, serif;
    font-size:30px;
    margin-top:35px;
    margin-bottom:25px;
    margin-left:auto;
    margin-right:auto;
}

#SolnMessage {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    background-color: #FF9900;
    border-width: 2px;
}

#footAlert {
    font-weight: bold;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: #E97451;
    border-width: 2px;
}

.btn-primary {
    background-color: black !important;
    max-width: 5cm;
}

.moveKey:hover {
    border: 2px solid green;
}

.container {
    max-width: 95%;
    border-radius: 10px;
    position: relative;
}

form input {
    max-width: 90%;
    padding: 10px;
    margin: 15px;
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    outline: none;
    background: #fffffe;
}

.tab {
    display: none;
}

.step {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#pLogo {
    border: 1px solid red;
    border-radius: 10px;
    margin:1cm;
    max-width: 2.5in;
}

.linkLogo{
    max-width: 1cm;
    margin:15px;
}

.instructions {
    text-align: left !important;
}