{% extends "layout.html" %}
{% block title %}
    Homepage
{% endblock %}
{% block main %}
    <img src="/static/cube.gif" alt="Cube">
    
    <div >
        <p class="mytext">Do you have an unsolved cube? Allow this web application to help you solve and it will be solved in no time!</p>
    </div>        
    <form action="/input" method="get">
        <button type="submit" class="btn btn-primary btn-lg">Start Solving</button>
    </form>
    <a href="https://youtu.be/bTjkN2u0OyQ" target="_blank"><img src="../static/logo.png" id="pLogo"></a>
    
{% endblock %}