{% extends "inputLayout.html" %}

{% block inMain %}
    <p style="font-size:large; font-weight:bold;">Input Orange Side with the Yellow side on top</p>
    <form action="/inorange" id="sideForm" method="post">
        <p>
            <input autofocus autocomplete="off" name="sorange" id="sideString" type="text">
        </p>
    <button class="btn btn-success" type="submit">Next Color</button>
    </form>
    <p style="background:#FFFFCC; margin-top:5px;">For each square, enter the first letter of the color (like 'y' for Yellow)</p>
{% endblock %}