{% extends "inputLayout.html" %}
{% block inMain %}
    <p>Input Yellow Side with the Orange side on top</p>
    <form action="/inyellow" method="post">
        <p>
        <input accept="image/" capture="environment" name="yellow" type="file">
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </p>
        <p>
        <input name="syellow" type="text">
        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
        </p>
    </form>
{% endblock %}