{% extends "layout.html" %}
{% block title %}
Sample Cases
{% endblock %}

{% block main %}
    <h6>You can use the following sample cube inputs to test the functionality of the website.
        Simply copy the inputs one by one and paste them where the input in asked</h6>

    <h5>Cube 1</h5>
    <p>Yellow with orange side on top:  brgbybwrw</p>
    <p>Blue with yellow side on top:    rwbrbgygg</p>
    <p>Red with yellow side on top:     owgwrooob</p>
    <p>Green with yellow side on top:   ryywgyogr</p>
    <p>Orange with yellow side on top:  rgwooybbg</p>
    <p>White with red side on top:      wbyywoory</p>

    <h5>Cube 2</h5>
    <p>Yellow with orange side on top:  wgoyybyww</p>
    <p>Blue with yellow side on top:    gbgbbywgy</p>
    <p>Red with yellow side on top:     obborrror</p>
    <p>Green with yellow side on top:   orbygggyr</p>
    <p>Orange with yellow side on top:  ywooooywr</p>
    <p>White with red side on top:      bwwrwgbrg</p>

    <h5> Cube 3 </h5>
    <p>Yellow with orange side on top:  ybooywwro</p>
    <p>Blue with yellow side on top:    rygwbobyr</p>
    <p>Red with yellow side on top:     rgygrwyrb</p>
    <p>Green with yellow side on top:   gbgogbrwo</p>
    <p>Orange with yellow side on top:  wobyorbyy</p>
    <p>White with red side on top:      gbwrwgogw</p>
{% endblock %}